.bento {
  background-color: $pinkred;

  &__card {
    @include onDesktop {
      height: max-content;
    }
  }

  &__card:hover {
    .bento__card--photo1 {
      background-image: url(/images/bento/bento2.jpg);
    }

    .bento__card--photo2 {
      background-image: url(/images/bento/xl/bento2.jpg);
    }

    .bento__card--photo3 {
      background-image: url(/images/cake/spartak/spartak2.jpg);
    }
  }
}
