.cake {
  background-color: $pinkred;

  &__grid {
    display: block;

    @include onTablet {
      display: grid;
    }
  }

  &__card {
    &--photo1 {
      background-image: url(/images/cake/napoleon/napoleon4.jpg);
    }

    &--photo2 {
      background-image: url(/images/cake/medovyk/medovyk2.jpg);
    }

    &--photo3 {
      background-image: url(/images/cake/spartak/spartak2.jpg);
    }

    &--photo4 {
      background-image: url(/images/cake/grillage/grillage2.jpg);
    }

    &--photo5 {
      background-image: url(/images/cake/snikers/snikers2.jpg);
    }

    &--photo6 {
      background-image: url(/images/cake/muss/muss2.jpg);
    }

    &--photo7 {
      background-image: url(/images/cake/pistachio-raspberry/pistachio-raspberry2.jpg);
    }

    &--photo8 {
      background-image: url(/images/cake/beylis/beylis2.jpg);
    }

    &--photo9 {
      background-image: url(/images/cake/vanila/vanila2.jpg);
    }

    &--photo10 {
      background-image: url(/images/cake/shvarts/shvarts2.jpg);
    }

    &--photo-img {
      opacity: 0;
    }
  }

  &__slider {
    &--subtitle {
      text-align: justify;
    }
  }
}
