.cake {
  background-color: $pink;

  &__grid {
    display: block;

    @include onTablet {
      display: grid;
    }
  }

  &__card:hover {
    .cake__card--photo1 {
      background-image: url(/images/cake/napoleon/napoleon4.jpg);
    }

    .cake__card--photo2 {
      background-image: url(/images/cake/medovyk/medovyk2.jpg);
    }

    .cake__card--photo3 {
      background-image: url(/images/cake/spartak/spartak2.jpg);
    }

    .cake__card--photo4 {
      background-image: url(/images/cake/grillage/grillage2.jpg);
    }

    .cake__card--photo5 {
      background-image: url(/images/cake/snikers/snikers2.jpg);
    }

    .cake__card--photo6 {
      background-image: url(/images/cake/muss/muss2.jpg);
    }

    .cake__card--photo-img {
      opacity: 0;
    }
  }
}
