.easter {
  padding-top: 40px;
  background-color: #5dc27b83;
  padding-bottom: 0;

  &__background {
    max-width: none;
    position: relative;
    @extend %bacgroundPosition;
    background-size: contain;
    height: 250px;
    background-image: url(/images/easter/easter.png);
  }

  &__text {
    display: block;
    position: relative;
    z-index: 1;
    font-family: "Marck Script", cursive;
    margin: 30px 0;
    color: rgba(6, 110, 38, 0.94);
    text-align: center;
    text-shadow: none;
    font-size: 45px;

    &--p {
      font-size: 35px;
      text-align: left;

      @include onTablet {
        font-size: 42px;
      }
    }
  }

  &__flex {
    @include onTablet {
      display: flex;
    }

    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__card {
    @include onTablet {
      width: 40%;
    }

    .card__title {
      font-size: 28px;
      margin: 0;

      @include onTablet {
        margin: 0;
        font-size: 36px;
      }
    }

    .card__description,
    .card__subtitle {
      font-size: 20px;

      @include onTablet {
        font-size: 36px;
      }
    }

    .card__about {
      font-size: 20px;

      @include onTablet {
        font-size: 30px;
      }
    }
  }

  &__eggs {
    position: absolute;
    z-index: 0;
    width: 70px;
    left: -25vw;
    bottom: 0;
    // animation: eggsroll 10s ease infinite forwards;

    @for $index from 1 through 4 {
      &--#{$index} {
        animation: eggsroll 10s ease #{$index * 2 - 1}s infinite forwards;
      }
    }

    @keyframes eggsroll {
      $procent: 10%;
      0% {
        transform: rotate(0deg);
        margin-left: 0;
        translate: 0;
      }

      16% {
        translate: 0 $procent ;
      }

      33% {
        translate: 0;
      }

      50% {
        translate: 0 $procent ;
      }

      66% {
        translate: 0;
      }

      83% {
        translate: 0 $procent ;
      }

      100% {
        transform: rotate(3*360deg);
        margin-left: 120vw;
      }
    }

    @include onTablet {
      width: 100px;
      @for $index from 1 through 4 {
        &--#{$index} {
          animation: eggsroll 12s ease #{$index * 2 - 1}s infinite forwards;
        }
      }

      @keyframes eggsroll {
        $procent: 10%;
        0% {
          transform: rotate(0deg);
          margin-left: 0;
          translate: 0;
        }

        10% {
          translate: 0 $procent ;
        }

        20% {
          translate: 0;
        }

        30% {
          translate: 0 $procent ;
        }

        40% {
          translate: 0;
        }

        50% {
          translate: 0 $procent ;
        }

        60% {
          translate: 0;
        }

        70% {
          translate: 0 $procent;
        }

        80% {
          translate: 0;
        }

        90% {
          translate: 0 $procent;
        }

        100% {
          transform: rotate(1800deg);
          margin-left: 120vw;
        }
      }
    }

    @include onDesktop {
      width: 100px;
      @for $index from 1 through 4 {
        &--#{$index} {
          animation: eggsroll 20s ease #{$index * 2 - 1}s infinite forwards;
        }
      }
    }
  }

  &__card:hover {
    .easter__card--photo1 {
      background-image: url(/images/easter/cake11.jpg);
    }

    .easter__card--photo2 {
      background-image: url(/images/easter/cake22.jpg);
    }

    .easter__card--photo3 {
      background-image: url(/images/easter/cheese2.jpg);
    }

    .easter__card--photo4 {
      background-image: url(/images/easter/krafin2.jpg);
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    // border-radius: 10px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    // @extend %bacgroundPosition;
    height: 300px;
    background-image: url(/images/easter/b.jpg);

    @include onDesktop {
      height: 400;
    }

    &--title {
      color: white;
      font-size: 65px;
    }
  }

}
