.zephyr {
  background-color: $pink;

  &__card {
    @include onDesktop {
      height: max-content;
    }
  }

  &__card:hover {
    .zephyr__card--photo1 {
      background-image: url(/images/zephyr/bouquetS/bouquetS2.jpg);
    }

    .zephyr__card--photo2 {
      background-image: url(/images/zephyr/bouquetM/bouquetM2.jpg);
    }

    .zephyr__card--photo3 {
      background-image: url(/images/zephyr/bouquetL/bouquetL2.jpg);
    }

    .zephyr__card--photo4 {
      background-image: url(/images/zephyr/box/box2.jpg);
    }

    .zephyr__card--photo5 {
      background-image: url(/images/zephyr/domebox/dome2.jpg);
    }
  }

  &__text {
    font-size: 20px;
    color: $red;

    @include onDesktop {
      font-size: 22px;
    }
  }
}
