.zephyr {
  background-color: $pink;

  &__flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__card {
    width: 48%;

    @include onDesktop {
      width: 23%;
    }

    &--bigger {
      width: 100%;

      @include onTablet {
        width: 48%;
      }
      @include onDesktop {
        width: 23%;
      }
    }

    &:last-of-type {
      justify-self: flex-start;
    }
  }

  &__card:hover {
    .zephyr__card--photo1 {
      background-image: url(/images/zephyr/bouquetS/bouquetS2.jpg);
    }

    .zephyr__card--photo2 {
      background-image: url(/images/zephyr/bouquetM/bouquetM2.jpg);
    }

    .zephyr__card--photo3 {
      background-image: url(/images/zephyr/bouquetL/bouquetL2.jpg);
    }

    .zephyr__card--photo4 {
      background-image: url(/images/zephyr/box/box2.jpg);
    }

    .zephyr__card--photo5 {
      background-image: url(/images/zephyr/domebox/dome2.jpg);
    }
  }
}
